@model AdvLab_WebApp.Models.User

@{
    ViewData["Title"] = "Details";
}
<div class="ActionHeading">
    <div class="card panalheading">

        <h2>DETAIL USER</h2>

    </div>
    <div class="col-12 col-md-12 col-sm-12">
        <form id="UserDetailForm" enctype="multipart/form-data" method="get" asp-action="Edit">
            <input type="hidden" asp-for="EmpId" name="id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <p>
                <a asp-action="Index">
                    <i class="fa fa-arrow-left BtnIcon2 HomeIcon"></i>
                </a>
                <a href="#" id="submitButton">
                    <i class="fa fa-edit BtnIcon1 HomeIcon"></i>
                </a>
            </p>
    <dl class="row">
     
        <dt class = "col-sm-2">
            User ID : 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpId)
        </dd>
        <dt class = "col-sm-2">
           User Name : 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uname)
        </dd>
        <dt class="col-sm-2">
            Status :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            Password :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Upassword)
        </dd>
        <dt class="col-sm-2">
            Location :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
          CNL : 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cnl)
        </dd>
        <dt class="col-sm-2">
            Client Viewer
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientV)
        </dd>
        <dt class="col-sm-2">
            Placement :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Placement)
        </dd>
        <dt class="col-sm-2">
            Depart : 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Depart)
        </dd>
        <dt class = "col-sm-2">
            SubDepart : 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubDepart)
        </dd>
        <dt class = "col-sm-2">
            Designation : 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class = "col-sm-2">
           Role Name :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleId)
        </dd>
     
    </dl>

            <br />
            <br />

        </form>
    </div>
</div>
<hr />
@section Scripts {
<script>
    document.getElementById("submitButton").addEventListener("click", function () {
        document.getElementById("UserDetailForm").submit();
    });
</script>
}